@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  position: relative;
  font-family: "Noto Sans Mono", monospace;
}

html {
  overflow-x: hidden;
  height: 100%;
}

body {
  height: 100%;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: var(--bs-gray);
}

::-webkit-scrollbar-thumb {
  background-color: var(--bs-primary-text-emphasis);
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal-left {
  position: relative;
  transform: translateX(-150px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

.reveal-left.active {
  transform: translateX(0);
  opacity: 1;
}

/* Side Bar */

.left-panel {
  background-color: var(--bs-primary-text-emphasis);
  width: 150px;
  display: flex;
  justify-content: center;
}

.right-panel {
  width: calc(100% - 150px);
}

.left-panel .nav a.nav-link {
  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    gap: 5px;
    letter-spacing: -0.5px;
    font-size: 13px;
}

.left-panel .nav a.nav-link {
  opacity: 0.5;
}
.left-panel .nav a.nav-link.active {
  background-color: #000;
  opacity: 1;
}

/* Hero Section */

.hero-section {
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: url("../images/bg.jpg");
  /* background: #000000;
    background: linear-gradient(rgb(4 5 65 / 80%), rgb(11 129 122 / 80%)),
        url("../images/bg.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #ffffff;
}

.hero-section .text-name {
  font-weight: 900;
  font-size: 4rem;
  letter-spacing: 1px;
}

.hero-section .text-des {
  padding: 10px;
  margin: 0;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: -1px;
}

/* About Section */

.about {
  background: url("../images/blk-bg.jpg");
  color: #ffffff;
  padding: 5rem;
  height: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about ul {
  list-style-type: disclosure-closed;
}

.about ul li {
  padding: 10px 10px 0 10px;
}

/* Education Section */
.education {
  background: url(../images/bluebg.jpg);
  color: #ffffff;
  padding: 5rem;
  height: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.education ul {
  list-style: none;
  padding-left: 0;
}

.education ul li {
  display: flex;
  padding: 10px 0;
}

.education ul li div {
  display: inline-block;
}

.education ul li::before {
  content: "✺";
  padding: 5px 10px 0 0;
}

.education ul li div h1.degree_name {
  font-size: 23px;
  letter-spacing: -1px;
}

.education ul li div .institution_name {
  font-size: 18px;
  letter-spacing: -1px;
  opacity: 0.8;
  font-weight: 400;
}

.education ul li div .place {
  font-size: 15px;
  letter-spacing: -1px;
  opacity: 0.6;
  font-weight: 400;
}

/* Experience */
.experience {
  background: #000000;
  background: linear-gradient(rgb(15 16 33 / 80%), rgb(4 31 30 / 80%)),
    url("../images/black-bg.jpg");
  color: #ffffff;
  padding: 5rem;
  height: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.experience div h1.des_name {
  font-size: 23px;
  letter-spacing: -1px;
}

.experience div .institution_name {
  font-size: 18px;
  letter-spacing: -1px;
  opacity: 0.8;
  font-weight: 400;
}

.experience div .place {
  font-size: 15px;
  letter-spacing: -1px;
  opacity: 0.6;
  font-weight: 400;
}

/* Skills */

.skills {
  background: #ffffff;
  color: #000000;
  padding: 5rem;
  height: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.skills .course_name {
  font-size: 23px;
  letter-spacing: -1px;
}

.skills .description {
  font-size: 18px;
  letter-spacing: -1px;
  color: #292828;
}

.skills .skillset {
  box-sizing: border-box;
}
.skills .skillset .item {
  padding-top: 15px;
  padding-bottom: 15px;
}

.skills .skillset .item label {
  font-size: 13px;
  font-weight: 500;
}

.skills .skillset .item .progress {
  background: #d0d4d8;
}

.skills .skillset .item .progress-bar {
  background-color: var(--bs-primary-text-emphasis);
}

/* Projects */
.projects {
  background: url("../images/project-bg.jpg");
  color: #ffffff;
  padding: 5rem;
  height: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.projects ul {
  padding-left: 0;
  list-style: none;
}

.projects ul div {
  display: inline-block;
}

.projects ul div p.project_count {
  font-size: 20px;
  font-weight: 500;
  color: var(--bs-blue);
  text-decoration: underline;
  margin: 10px 0;
  letter-spacing: -0.5px;
}

.projects ul div h1.project_title {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -1px;
  color: var(--bs-primary-text-emphasis);
}

.projects ul div h4.project_role {
  font-size: 17px;
  color: var(--bs-body-color);
  letter-spacing: -1px;
}

.projects ul div p.project_desc {
  font-size: 15px;
  color: #000;
  letter-spacing: -0.5px;
  text-align: justify;
}

.projects ul div h4.project_resp {
  font-size: 17px;
  font-weight: 500;
  color: #000;
  text-decoration: underline;
  margin: 10px 0;
  letter-spacing: -0.5px;
}

.projects ul div ul.project_res_item {
  list-style: circle;
  padding-left: 1rem;
  color: #000;
  letter-spacing: -0.5px;
  font-size: 15px;
}

.projects ul div ul.project_res_item li {
  padding: 5px 0;
}

.projects ul.project-slider,
.projects ul.project-slider1 {
  display: flex;
  position: relative;
  box-sizing: border-box;
}

.projects ul.project-slider li.slick-slide,
.projects ul.project-slider1 li.slick-slide {
  position: relative;
  background: #fff;
  margin: 10px;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.projects ul.slick-dots li {
  background: transparent;
  width: auto;
}
.projects ul.slick-dots li button:before {
  color: #7a7878;
}
.projects ul.slick-dots li.slick-active button:before {
  color: #7a7878;
}
.projects .company_name {
  font-size: 18px;
  letter-spacing: -1px;
  color: #fafafa8c;
  margin: 15px 0;
}
/* Contact */
.contact {
  background: url("../images/black-bg.jpg");
  color: #ffffff;
  padding: 5rem;
  height: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.contact ul {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.contact ul li span:nth-child(even) {
  display: none;
}
.contact ul li {
  display: inline-block;
  width: 50%;
  text-align: center;
  background: #fff;
  color: #000;
  padding: 2rem;
  font-size: 25px;
  font-weight: 700;
  margin: 10px;
  transition: ease-in-out 1s all;
}
.contact ul li:hover span:first-child,
.contact ul li:focus span:first-child {
  display: none;
}

.contact ul li:hover span:nth-child(even),
.contact ul li:focus span:nth-child(even) {
  display: block;
}

.contact ul li span:nth-child(even) a {
  text-wrap: wrap;
  white-space: break-space;
  font-size: 18px;
  color: var(--bs-primary-text-emphasis);
  text-decoration: none;
}